.bgcolor{
    background: linear-gradient(150deg, #53f 0%, #05d5ff 70%);
    /* background: linear-gradient(-2000deg,#003366 ,#996699 ); */
    height: 100%;
}
.heading1{
    font-size: 60px;
    text-align: center;
    color: #fff;
    padding-top: 50px;
}
.heading2{
    font-size: 40px;
    text-align: center;
    color: aliceblue;
    padding: 100px 100 0 100px;
}
.economy-direction{
    display: flex;
}
.economy-direction h3{
    line-height: 2;
    font-size: x-large;
}
.fx{
    line-height: 30px;
    padding: 20px;
}
.box{
    background: #ebf2f3;
    text-align: center; 
    }
.box-text-direction{
    display: flex;
    padding: 20px 180 20px 180px;
}
.box-text{
    text-align: justify;
    line-height: 2;
    margin-right: 40px;
}
.box-text p{
    line-height: 30px;
}
.box-text p b{
    line-height: 3rem;
    font-size: 20px;
}
.maintain .card{
    color: #000000;
    background:linear-gradient(526deg,#f77064 40%, #fff 40%);
    height: 360px;
    text-align: center;
    padding-top: 200px;
}
.b4{
    margin-top: 10px;
}
.icon-logo{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
h3{
    font-size: -webkit-xxx-large;
}
h5{
    font-size: x-large;
}
.box-end-text{
    padding: 30px;
}
.card-direction{
    display:flex;
}
.btn-direction{
    display: flex;
    justify-content: space-around;
}
.collect-input {
    height: 40px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-top: 8px;
}
.collect-input input[type="email"]{
    padding-left: 10px;
    border: none;
    outline: none;
    background: transparent;
        }
.submit-button{
    font-size: 15px;
    text-transform: uppercase;
}
.btn-text{
    font-size: 20px;
    line-height: 30px;
    color: #7c7d7e;
}
.btn-text b{
    color: #62b0ff;
}
.eco-text{
    padding-right: 235px;
}
@media(max-width:700px){
.heading1{
    font-size: 40px;
}
.heading2{
    font-size: 25px;
}
.economy-direction{
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.maintain .card{
    padding-top: 90px;
}
.box-text-direction{
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.icon-logo{
    display: flex;
    flex-direction: column;
    padding-top: 0%;
}
.icon-logo img{
    padding-top: 25px;
}
.icon{
    display: flex;
    justify-content: space-around;
}
.btn-direction{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.card-direction{
    display:flex;
    flex-direction: column;
}
.eco-text{
    padding-right: 0px;
}
}
@media(max-width:500px){
.bgcolor{
    height: 60%;
}
.heading1{
    font-size: 30px;
}
.heading2{
    font-size: 16px;
    padding: 40px 30px 0px 30px;
    text-align: justify;
}
h3{
    font-size: larger;
    padding-top: 10px;
}
h5{
    font-size: small;
    text-align: justify;
}
.btn-text{
    font-size: 17px;
}
.box-text{
    margin-right: 0px;
}
.box-text p{
    line-height: 25px;
}
.box-text p b {
    font-size: 17px;
}
.eco-text{
    line-height: 25px;
    font-size: medium;
}
.fx{
    padding: 0px;
}
.economy-direction h3 {
    font-size: 18px;
}
}
@media(max-width:1100px) and (min-width:700px){
.heading2{
    font-size: 30px;
}
}
@media(max-width:1300px){
.box-text-direction{
    padding: 0px;
}
}